<div class="bg-contact">
  <section id="contact" class="py-5 px-2">
    <article class="message is-primary">
      <div class="message-body">
        <h2 class="title text-header">Contact</h2>
        <p class="subtitle text-para-1">
          Something caught your attention? Drop me a line.
        </p>
        <a
          href="mailto:adam.ho.buss@gmail.com"
          class="button my-1"
          id="contact-email"
        >
          <i class="fas fa-envelope mr-2"></i>
          <span>adam.ho.buss@gmail.com</span>
        </a>
        <br />
        <a
          href="https://github.com/adamdune"
          class="button my-1"
          id="contact-github"
        >
          <i class="fab fa-github mr-2"></i>
          <span>github.com/adamdune</span>
        </a>
        <br />
        <a
          href="https://www.linkedin.com/in/adam-ho/"
          class="button my-1"
          id="contact-linkedin"
        >
          <i class="fab fa-linkedin mr-2"></i>
          <span>linkedin.com/in/adam-ho</span>
        </a>
      </div>
    </article>
  </section>
</div>
